@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --cinza-claro: #cccccc;
  --cinza-escuro: #292c37;
  --cor-primaria: #e72939;
  --cor-primaria-escura: #9f111b;
  --branco: #ffffff;
  --preto: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body {
  background-color: var(--cinza-claro);
  color: var(--preto);
}

main{
    min-height: 80vh;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--preto);
  padding: 0.8rem 2rem;
}

.mainTitle {
  color: var(--branco);
  font-size: 1.8rem;
}

.logo img {
  height: 60px;
}

.listaMenuHeader {
  display: flex;
  gap: 20px;
}

.itemMenuHeader {
  list-style: none;
}

.linkItemMenuHeader {
  text-decoration: none;
  color: var(--branco);
  font-weight: 500;
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s ease;
}

.linkItemMenuHeader:hover {
  color: var(--cor-primaria);
}

.linkItemMenuHeader::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--cor-primaria);
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.linkItemMenuHeader:hover::after {
  width: 100%;
}

footer {
  background-color: var(--preto);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  gap: 2rem;
}

.iconslogo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.logo img {
  max-width: 200px;
}

.iconsFooter {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.iconFooter {
  font-size: 32px;
  color: var(--cor-primaria);
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.iconFooter:hover {
  transform: scale(1.2);
  color: var(--cor-primaria-escura);
}

.copy {
  color: var(--branco);
  text-align: center;
  font-size: 1rem;
}
